<%- include('../public/header') %>
<body class="daily tmw-in extinguisher-transition">
<div class="animsition">
	<%- include('../public/nav') %>
	<div class="title">
		<h1>DAILY</h1>
		<div class="h4div">
			<h4>That's My Way</h4>
		</div>
		<h4 class="lasttitle">书卷多情似故人</h4>
	</div>
	<main>
		<div class="mask-in"></div>
		<div class="cd-modal" id="modal-1"></div>
		<div class="cd-transition-layer" data-frame="25">
			<div class="bg-layer"></div>
		</div>
		<section class="content pagecontent">
			<%for(var i=0;i<9;i=i+3) { %>
			<div class="grid grid--effect-pollux">
				<% var max = 0;
			if(docs.length-i < 3){
				max = docs.length-i
			}
			else {
				max=3;
			}
			for(var j=0;j<max;j++) { %>
				<a href="#" class="trigger grid__item" data-href=<%=docs[i+j].id%>
					>
					<div class="stack">
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__figure">
							<img class="stack__img" src="../img/1.png" alt="Image"/>
						</div>
					</div>
					<div class="grid__item-caption">
						<h3 class="grid__item-title" data-title=<%=docs[i+j].titles%>
							>
							<%=docs[i+j].titles%></h3>
					</div>
				</a>
				<% } %></div>
			<% } %></section>
		<%- include('../public/page') %>
		<%- include('../public/footer') %></main>
</div>
<script src="../js/card.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/listShift.js"></script>
<script src="../js/common.js"></script>
<script>
		$(function() {
			$("#menu").fadeIn(500);
			[].slice.call(document.querySelectorAll('.grid--effect-pollux > .grid__item')).forEach(function(stackEl) {
				new PolluxFx(stackEl);
			});
		});
	</script>
</body>
</html>