<%- include('../public/header') %>
<body class="daily tmw-in extinguisher-transition">
<div class="animsition">
	<%- include('../public/nav') %>
	<%- include('../public/title') %>
	<main>
		<div class="mask-in"></div>
		<section class="cd-modal" id="cd-modal">
			<div class="modal-close"></div>
			<div class="modalbg"></div>
			<div class="modal-content">
				<h3></h3>
				<p></p>
			</div>
		</section>
		<section class="cd-transition-layer" data-frame="30">
			<div class="bg-layer"></div>
		</section>
		<section class="content pagecontent">
			<%for(var i=0;i<9;i=i+3) { %>
			<div class="grid grid--effect-pollux">
				<% var max = docs.length-i<3?docs.length-i:3; for(var j=0;j<max;j++) { %>
				<a href="javascript:;" class="cd-modal-trigger grid__item" data-url="daily"  data-href=<%=docs[i+j].id%>>
					<div class="stack">
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__figure">
							<img class="stack__img" src="../img/1.png" alt="Image"/>
						</div>
					</div>
					<div class="grid__item-caption">
						<h3 class="grid__item-title" data-title=<%=docs[i+j].titles%>
							>
							<%=docs[i+j].titles%></h3>
					</div>
				</a>
				<% } %></div>
			<% } %></section>
		<%- include('../public/page') %>
		<%- include('../public/footer') %></main>
</div>
<script src="../lib/modernizr.custom.js"></script>
<script src="../js/card.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/listShift.js"></script>
<script src="../js/common.js"></script>
<script>
		$(function() {
			$("#menu").fadeIn(500);
			[].slice.call(document.querySelectorAll('.grid--effect-pollux > .grid__item')).forEach(function(stackEl) {
				new PolluxFx(stackEl);
			});
		});
</script>
</body>
</html>