<%- include('../public/header') %>
<body class="daily tmw-in extinguisher-transition">
<div class="animsition">
	<%- include('../public/nav') %>
	<div class="title">
		<h1>DAILY</h1>
		<div class="h4div">
			<h4>That's My Way</h4>
		</div>
		<h4 class="lasttitle">书卷多情似故人</h4>
	</div>
	<main>
		<div class="mask-in"></div>
		<div class="cd-modal" id="modal-1"></div>
		<div class="cd-transition-layer" data-frame="25">
			<div class="bg-layer"></div>
		</div>
		<section class="content">
		<%var length = docs.length<(12/3)?docs.length:12/3; for(var i=0; i<length; i++) { %>
			<div class="grid grid--effect-pollux">
				<a href="#" class="grid__item grid__item--c1 cd-modal-trigger" data-href=<%=docs[i].id%>>
					<div class="stack">
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__figure">
							<img class="stack__img" src="../img/1.png" alt="Image"/>
						</div>
					</div>
					<div class="grid__item-caption">
						<h3 class="grid__item-title" data-title=<%=docs[i].titles%>><%=docs[i].titles%></h3>
					</div>
				</a>
				<a href="#" class="grid__item grid__item--c2">
					<div class="stack">
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__figure">
							<img class="stack__img" src="../img/2.png" alt="Image"/>
						</div>
					</div>
					<div class="grid__item-caption">
						<h3 class="grid__item-title" data-title=<%=docs[i].titles%>><%=docs[i].titles%></h3>
					</div>
				</a>
				<a href="#" class="grid__item grid__item--c3">
					<div class="stack">
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__deco"></div>
						<div class="stack__figure">
							<img class="stack__img" src="../img/3.png" alt="Image"/>
						</div>
					</div>
					<div class="grid__item-caption">
						<h3 class="grid__item-title" data-title=<%=docs[i].titles%>><%=docs[i].titles%></h3>
					</div>
				</a>
			</div>
			<% } %>
		</section>
		<section class="page text-center">
			<ul>
				<li>
					<a href="">1</a>
				</li>
				<li>
					<a href="">2</a>
				</li>
				<li>
					<a href="">3</a>
				</li>
				<li>
					<a href="">4</a>
				</li>
				<li>
					<a href="">5</a>
				</li>
			</ul>
		</section>
		<%- include('../public/footer') %></main>
</div>
<script src="../js/card.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/listShift.js"></script>
<script src="../js/common.js"></script>
<script>
		$(function() {
			$("#menu").fadeIn(500);
			[].slice.call(document.querySelectorAll('.grid--effect-pollux > .grid__item')).forEach(function(stackEl) {
				new PolluxFx(stackEl);
			});
		});
	</script>
</body>
</html>