<%- include('../public/header') %>
<body class="news tmw-in animsition">
<%- include('../public/nav') %>
<div class="title">
	<h1>NEWS</h1>
	<div class="h4div">
		<h4>That's My Way</h4>
	</div>
	<h4 class="lasttitle">传说永不凋零</h4>
</div>
<main>
	<div class="mask-in"></div>
	<section class="content">
		<%var length = docs.length<6?docs.length:6; for(var i=0; i<length; i++) { %>
		<a href="javascript:;" data-href=<%="acticle"+docs[i].id%>
			class="tilter tilter">
			<figure class="tilter__figure">
				<img class="tilter__image" src="../img/1.jpg" alt="" />
				<div class="tilter__deco tilter__deco--shine">
					<div></div>
				</div>
				<div class="tilter__deco tilter__deco--overlay"></div>
				<figcaption class="tilter__caption">
					<h3 class="tilter__title" data-title=<%=docs[i].titles%>
						>
						<%=docs[i].titles%></h3>
					<p class="tilter__description" data-title=<%=docs[i].author%>
						>
						<%=docs[i].author%></p>
				</figcaption>
				<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
					<path d="M20.5,20.5h260v375h-260V20.5z" />
				</svg>
			</figure>
		</a>
		<% } %></section>
	<section class="page text-center">
		<ul>
			<li>
				<a href="">1</a>
			</li>
			<li>
				<a href="">2</a>
			</li>
			<li>
				<a href="">3</a>
			</li>
			<li>
				<a href="">4</a>
			</li>
			<li>
				<a href="">5</a>
			</li>
		</ul>
	</section>
	<%- include('../public/footer') %></main>
<script src="../js/hovereffect.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/common.js"></script>
<script>
		$(function() {
			$("#menu").fadeIn(500);
			(function() {
				var tiltSettings = {
					movement: {
						imgWrapper: {
								translation: {
								x: 10,
								y: 10,
								z: 30
							},
							rotation: {
								x: 0,
								y: -10,
								z: 0
							},
							reverseAnimation: {
								duration: 200,
								easing: 'easeOutQuad'
							}
						},
						lines: {
							translation: {
								x: 10,
								y: 10,
								z: [0, 70]
							},
							rotation: {
								x: 0,
								y: 0,
								z: -2
							},
							reverseAnimation: {
								duration: 2000,
								easing: 'easeOutExpo'
							}
						},
						caption: {
							rotation: {
								x: 0,
								y: 0,
								z: 2
							},
							reverseAnimation: {
								duration: 200,
								easing: 'easeOutQuad'
							}
						},
						overlay: {
							translation: {
								x: 10,
								y: -10,
								z: 0
							},
							rotation: {
								x: 0,
								y: 0,
								z: 2
							},
							reverseAnimation: {
								duration: 2000,
								easing: 'easeOutExpo'
							}
						},
						shine: {
							translation: {
								x: 100,
								y: 100,
								z: 0
							},
							reverseAnimation: {
								duration: 200,
								easing: 'easeOutQuad'
							}
						}
					}
				};

				function init() {
					[].slice.call(document.querySelectorAll('a.tilter')).forEach(function(el, pos) {
						new TiltFx(el, tiltSettings);
					});
				}

				// Preload all images.
				imagesLoaded(document.querySelector('main'), function() {
					document.body.classList.remove('loading');
					init();
				});

			})();
		});
	</script>
</body>
</html>